# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/
.env

# Node / Next.js
node_modules/
.next/
out/
.vercel

# Cache e temporários
candidates.txt
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Redis
dump.rdb
